.app {
  width: 750;
  flex: 1;
  align-items: center;
  background-color: #efeff4;
}

.container {
  width: 720;
  flex: 1;
}

.tabHeaderSpace {
  width: 750;
  height: 20;
  background-color: #efeff4;
}

.tabHeader {
  width: 750;
  background-color: #efeff4;
  margin: 0 auto;
  border: none;
}

.tabHeaderItem {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.tabHeaderLine {
  height: 40;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timeLine {
  width: 45;
  height: 1;
  background-color: #ceced2;
}

.tabHeaderDot {
  width: 17;
  height: 17;
  border-radius: 17;
  background-color: #ceced2;
}

.tabHeaderText {
  font-size: 18;
  color: #ceced2;
}

.tabHeaderDot_select {
  width: 17;
  height: 17;
  border-radius: 17;
  background-color: #6767fa;
}

.tabHeaderText_select {
  font-size: 18;
  color: #000000;
}

.item {
  position: relative;
  width: 550;
  margin: 0 auto;
  margin-top: 60;
  flex: 1;
  align-items: center;
  z-index: 1;
  background-color: #efeff4;
}

.numbers_container {
  width: 550;
}

.numbers_item {
  height: 70;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.numbers_text {
  font-size: 33;
}

.insetImg {
  position: absolute;
  right: 50;
  bottom: 35;
}

.classroomInset {
  width: 300;
  height: 300;
}

.error_app {
  background-color: #efeff4;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.error_container {
  align-items: center;
}

.error_image {
  width: 412;
  height: 331;
}

.error_text {
  margin-top: 80;
  flex-direction: row;
}

.error_text_info {
  font-size: 32;
  color: #c6d2de;
}

.error_text_click {
  font-size: 32;
  color: #7b79ff;
}