.app {
  width: 750;
  flex: 1;
  align-items: center;
  background-color: #efeff4;
}

.container {
  width: 720;
  flex: 1;
}

.tabHeaderSpace {
  width: 750;
  height: 22;
  background-color: #efeff4;
}

.tabHeader {
  width: 750;
  background-color: #efeff4;
  margin: 0 auto;
  border-bottom-color: transparent;
  border-bottom: none;
}

.tabHeaderItem {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-bottom-color: transparent;
  border-bottom: none;
}

.tabHeaderLine {
  height: 50;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom-color: transparent;
  border-bottom: none;
}

.timeLine {
  width: 45;
  height: 1;
  background-color: #ceced2;
}

.tabHeaderDot {
  width: 17;
  height: 17;
  border-radius: 17;
  background-color: #ceced2;
}

.tabHeaderText {
  font-size: 32;
  color: #ceced2;
}
.tabHeaderText_container {
  height: 37;
}


.tabHeaderDot_select {
  width: 22;
  height: 22;
  border-radius: 22;
  background-color: #6767fa;
}

.tabHeaderText_select {
  font-size: 32;
  color: #000000;
}

.item {
  position: relative;
  width: 750;
  margin: 60 auto;
  flex: 1;
  align-items: center;
  background-color: transparent;
  margin-top: -2;
  background-color: #efeff4;
}

.numbers_container {
  width: 550;
  margin-top: 100;
}

.numbers_item {
  height: 70;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.numbers_text {
  font-size: 33;
}

.insetImg {
  position: absolute;
  right: 50;
  bottom: 35;
  z-index: 99;
}

.classroomInset {
  width: 300;
  height: 300;
}

.error_app {
  background-color: #efeff4;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.error_container {
  align-items: center;
  margin-top: -200;
}

.error_image {
  width: 412;
  height: 331;
}

.error_text {
  margin-top: 80;
  flex-direction: row;
  align-items: center;
}

.error_text_info {
  font-size: 32;
  color: #000;
}

.error_text_click {
  font-size: 32;
  color: #7b79ff;
}